<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
		*{
			text-align: center;
		}

		body{
			background: lime;
		}
		button {
			width: 100px;
			height: 30px;
			color: blue;
			background: yellow;
		}
		td{
			width: 200px;
			background: lightblue;
			text-align: center;
		}
	</style>
</head>
<body>
<h3>회원정보 페이지</h3>
<hr color="blue">
<a href="../index.html">첫페이지로 이동</a>
	<table border="1" align="center">
		<tr>
			<td>회원가입</td>
			<td>
				<a href="member_insert.html">
					<button>GO</button>
				</a>
			</td>
		</tr>
		<tr>
			<td>회원탈퇴</td>
			<td>
				<a href="member_delete.html">
					<button>GO</button>
				</a>
			</td>
		</tr>
		<tr>
			<td>회원수정</td>
			<td>
				<a href="member_update.html">
					<button>GO</button>
				</a>
			</td>
		</tr>
		<tr>
			<td>회원검색(한명)</td>
			<td>
				<a href="member_one.html">
					<button>GO</button>
				</a>
			</td>
		</tr>
		<tr>
			<td>회원검색(여러명)</td>
			<td>
				<a href="../../../../../jsp02/src/main/webapp/jsp/member_list.jsp">
					<button>GO</button>
				</a>
			</td>
		</tr>
	</table>
</body>
</html>